@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

html {
	overflow-y: scroll;
	background: #fafafa;
	font: 300 18px/2 'Open Sans', sans-serif;
}

body {
	width: 600px;
	margin: 50px auto;
	padding: 20px;
	border: 10px solid #f0f0f0;
	background: #ffffff;
}

h1 {
	margin: 0 0 20px;
	font-weight: 400;
	text-transform: capitalize;
}

h2 {
    margin: 4px 0 -2px;
}

em {
    font-style: italic;
    color: #888;
}

input, textarea, select {
	font: 16px monospace;
}

input {
	width: 300px;
	border: 1px solid #c0c0c0;
}

button {
	display: block;
	width: auto;
	margin: 10px 0;
	padding: 5px 20px;
	cursor: pointer;
}

textarea {
	width: 594px;
	min-height: 100px;
	border: 1px solid #c0c0c0;
	resize: vertical;
}

fieldset.showhide {
	display: none;
}

fieldset.showhide legend {
	display: none;
}

.frame {
	width: 590px;
	overflow: auto;
	border: 1px solid #c0c0c0;
	padding: 5px;
	font: 16px sans-serif;
}

.json {
	font-family: monospace;
	white-space: pre;
}

.json .array {
	color: #93a1a1;
}

.json .string {
	color: #2aa198;
}

.json .number {
	color: #d33682;
}

.json .null, .json .boolean {
	color: #b58900;
}

.json .null {
	font-style: italic;
}

.break {
	margin: 10px 0 5px;
	display: block;
}
